<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Новая книга')"></head>

<body>
<div class="container">
    <div class="row">
        <div class="col s12">

            <h3>Заполните данные</h3>
            <form data-th-action="@{/{id}/add(id=${item.id})}" method="post" enctype="multipart/form-data">

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="title" name="title" placeholder="Введите название книги"
                           data-th-value="${item.title}">
                    <label class="active" for="title">Название книги</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="description" name="description" placeholder="Напишите краткое содержание книги"
                           data-th-value="${item.description}">
                    <label class="active" for="description">Краткое содержание</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="author" name="author" placeholder="Напишите автора"
                           data-th-value="${item.author}">
                    <label class="active" for="author">Автор</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="isbn" name="isbn" placeholder="Введите ISBN"
                           data-th-value="${item.isbn}">
                    <label class="active" for="isbn">ISBN</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="printYear" name="printYear" placeholder="Введите год издания"
                           data-th-value="${item.printYear}">
                    <label class="active" for="printYear">Год издания</label>
                </div>

                <div class="row">
                    <div class="file-field">
                        <div class="waves-effect indigo btn">
                            <span>Файл</span>
                            <input input name="file" type="file">
                        </div>
                    </div>
                </div>

                <p data-th-if="${item.id != 0}">
                    <img data-th-src="@{/media/{path}(path=${item.path})}">
                </p>

                <button class="waves-effect indigo btn" type="submit" ><i class="material-icons right">cloud</i>Добавить
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>


