<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Редактирование')"></head>

<body>
<div class="container">
    <div class="row">
        <div class="col s12">

            <h3>Заполните данные</h3>

            <form data-th-action="@{/{id}/edit(id=${item.id})}" method="post" enctype="multipart/form-data">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input name="title" placeholder="Введите название книги"
                           data-th-value="${item.title}">
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input name="description" placeholder="Напишите краткое содержание книги"
                           data-th-value="${item.description}">
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input name="isbn" placeholder="Введите ISBN"
                           data-th-value="${item.isbn}">
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input name="printYear" placeholder="Введите год издания"
                           data-th-value="${item.printYear}">
                </div>

                <button class="waves-effect indigo btn" type="submit"><i class="material-icons right">cloud</i>Сохранить
                </button>
            </form>

        </div>
    </div>
</div>

</body>
</html>


